OLLAMA_MODE=local

# Langfuse DB
LANGFUSE_DB_PASSWORD=a_strong_pass

# Langfuse secrets (generate them with: openssl rand -base64 32)
LANGFUSE_NEXTAUTH_SECRET=
LANGFUSE_SALT=

# Generate with: openssl rand -hex 32
LANGFUSE_ENCRYPTION_KEY=

# Project API keys (you can put whatever you want)
LANGFUSE_PUBLIC_KEY=lf_pk_local
LANGFUSE_SECRET_KEY=lf_sk_local

# Init admin user
LANGFUSE_INIT_EMAIL=admin@example.com
LANGFUSE_INIT_PASSWORD=tu_password_admin

# Check the docker compose file for other optional config variables
